@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif:ital@1&family=Recursive:wght@900&family=Roboto&display=swap");
 *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  overflow: hidden !important;overflow-y: auto;
}
body{
  overflow-x: hidden !important;
}

header.firstHeader {
  background: #fff;
  padding: 0.6rem 0;
  box-shadow: 1px 0px 2px 5px #ccc;
  font-family: "Roboto", sans-serif;
  color: rgb(148, 145, 145);
  /* font-size: .6rem !important; */
}
header .firstHeader .roww{
  padding-top: 0!important;
}
.navList{
  display: flex !important;
  padding: 0;
  margin: 0;
  /* width: 90% !important; */
}
nav .item{
  padding-left: .8rem !important;
  color: black;
}
summary span{
  position: absolute;
  top: -1.4rem;
  background-color: red;
  padding: .2rem 0;
  font-size: .8rem;
  border-radius: 6px;
  color: #fff;
}
span::before{
  content: '';
  /* display: block; */
  position: absolute;
  width: 3rem;
  background-color: red;
  /* padding: .2rem 0;   */
}
details{
  position: relative;
}
.dropDown{
  position: absolute;
  z-index: 10;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 1rem .7rem;
  width: 80%;
  cursor: pointer;
}
.dropDown p:hover{
  background: #ccc;
  color: black;
}
.mobileIcon{
  display: none !important;
}


@media screen and (max-width: 600px) {
  .Horizontal .ui.list.row{
    flex-direction: column!important;
    background-color: #000;
    height: 100%;
    display: block !important;
    text-align: left !important;
    box-shadow: 0px 0px 1px #000;
  
   }
  .mobileIcon{
    display: flex !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    background-color: rgb(126, 123, 123);
    justify-content: center;
    align-items: center;
  }
  .Horizontal .ui.list.row> div {
    padding: 1rem 1rem !important;
    margin: 0 !important;
    font-size: 1.4rem;
    color:#fff;
  }

  
  header.firstHeader {
    display: none !important;
  } 
 .Horizontal{
  position: absolute !important;
  z-index: 99;
  color: #fff !important;
  top: 100%;
  left: 0;
  transform: translateX(-300px);
  width: 10rem !important;
  font-size: 1.1rem !important;
  transition: transform 600ms ease-in-out;
  display: none;
 }  
 .Horizontal.active{
  transform: translateX(0px);
  transition: transform 600ms ease-in-out;
 }
 #menuCont{
  justify-content: space-around !important;
  padding: 1rem 0 !important;
  background-color: whitesmoke;
  flex-wrap: wrap !important;
  position: fixed !important;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
 }
 #col{
  width: auto !important;
 }

 nav .ui.container {

  margin: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

}
.ui.grid > *{
  padding: 0 0 !important;
}
.ui.horizontal.list > .item {margin: 0 !important;}
.md-subheader{
  margin-top: 3.7rem !important;
  padding: 2rem 1rem !important;
}
.fas{
  font-size: 1.3rem;
  color: #fff;
  margin: auto !important;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  transition: transform 600ms;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fa-bars{
  transform: rotate(180deg);
  
}
.dropDown{
  position: relative;
  background: #fff;
  color: #000;
  margin: 0;
  padding:1rem .3rem !important;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;

}
summary{
  font-size: .9017rem;
  padding: 0 !important;
}
}
.serchCo{
  display: flex !important;
  align-items: center;
  margin: 0!important;
}
.serchCo.list>.item{
  padding: 0 .3rem 0 .3rem!important;

}
.serchCo.list>.item svg{
  font-size: 1.6em;
  font-weight: bold;
}
