@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif:ital@1&family=Recursive:wght@900&family=Roboto&display=swap");
 *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  overflow: hidden;
}

header.firstHeader {
  background: #fff;
  padding: 0.6rem 0;
  box-shadow: 1px 0px 2px 5px #ccc;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; */
  font-family: "Roboto", sans-serif;
}
.navList{
  display: flex !important;
  padding: 0;
  margin: 0;
  /* width: 90% !important; */
}
nav .item{
  padding-left: .8rem !important;
  color: black;
}
summary span{
  /* display: block; */
  position: absolute;
  top: -1.4rem;
  background-color: red;
  padding: .2rem 0;
  font-size: .8rem;
  border-radius: 6px;
  color: #fff;
}
span::before{
  content: '';
  /* display: block; */
  position: absolute;
  width: 3rem;
  background-color: red;
  /* padding: .2rem 0;   */
}
details{
  position: relative;
}
.dropDown{
  position: absolute;
  z-index: 10;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 1rem .7rem;
  width: 80%;
  cursor: pointer;
}
.dropDown p:hover{
  background: #ccc;
  color: black;
}
