@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
div .mainPage {
  position: relative;
  width: 100%;
  max-width: 10005px;
  min-height: 80vh;
  overflow: hidden;
}
.mainPage img {
  object-fit: fill;
}
section .mainpageText {
  position: absolute;
  right: 0;
  flex-direction: column;
  width: 50%;
  transform: translateY(50%, -50%);
  margin: auto 0 !important;
  top: 27%;
}
section .mainpageText :not(b, button){
  color: rgb(117, 113, 113); 
}
section .mainpageText p{
  font-family: 'Rouge Script', cursive;
  color: red;
  font-size: 3em;
  padding-bottom: .7rem;
  margin: 0!important;
  font-size: 500;
}
.mainpageText b {
  font-size: 3em !important;
}
.mainpageText button {
  background: #000;
  color: #fff;
  margin-top: .2rem;
  padding: 0.6rem 1.4rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: unset;
}

.active {
  width: 100vw;
background-position:50% 50%;
  display: block !important;
  background-clip: border-box;
  background-size: cover;
  -ms-interpolation-mode: nearest-neighbor !important;
  transition: background, color, 0.2s, ease-in-out;
  height: 100vh;
}
.deactive {
  opacity: 0;
  height: auto;
}
.outFits {
  display: flex;
  justify-content: center;
  max-height: auto;
  width: 100vw;
  padding-top: 1.6rem;
  flex-wrap: wrap;
  /* background: rgba(0, 0, 0, .1); */
  margin-top: 1rem;
  /* padding: 1rem; */
}
.category {
  height: 22rem !important;
  width: 30%;
  padding-left: 1rem;
  position: relative;
}
.category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin-right: 40px; */
}
.category span {
  position: absolute;
  bottom: 0;
  color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 1.3em;
  font-weight: 700;
  background: linear-gradient(
    to bottom,
    rgb(147, 145, 145, 0.2),
    rgb(35, 34, 33)
  );
  margin-left: 1rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: unset;
  padding-bottom: 0.4rem;
  text-transform: capitalize;
}

.trendinSection {
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  padding: 1rem 2rem;
  position: relative;
  flex-wrap: wrap;
  align-items: center !important;
}
.trendinSection > div:nth-child(1) {
  font-size: 1.7em;
  font-weight: 600;
  color: #000;
}
.middleMenu > ul li {
  padding: 0 1.3rem;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
  list-style: none;
}
.middleMenu ul li::after {
  content: "";
  display: block;
  width: 0;
  padding: 0.102rem 0;
  background: red;
  bottom: 0;
  transition: background, 0.5s ease-in-out;
}
.middleMenu ul li:hover::after {
  width: 100%;
}
.sliderContainer {
  width: 100% !important;
  max-width: 600px !important;
  height: 21rem;
  display: block !important;
  margin: 0 !important;
  /* transition: .7s ease-in-out; */
  margin-left: 1rem !important;
  transition: transform .7s ease 0s;
}

.sliderContainer img {
 width: 220px;
  height: 80%;
  object-fit: cover;
}
.sliderSection {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: auto;
  position: relative;
  /* background-color: red; */
}
.sliderWrapper {
  width: 100%;
  max-width: 70vw;
  display: flex;
  justify-content: center;
  overflow: hidden !important;

}
.sliderSection p {
  margin: 0;
  padding: 0;
}
.arrow {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0 !important;
  transform: translate(-50%, 50%);
}
.arrow.left {
  left: 10% !important;
}
.arrow.right {
  right: 10% !important;
}

.testimonialContainer{
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 2.5rem 0;
  width: 100%;
  height: 50vh;
  position: relative;
  align-items: center;
}
.commentInner{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-wrap: wrap;
}
.commentWrapper p{
  margin: 0!important;
  font-size: 1.2rem;
}
.commentWrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 800px;
  background-color: #fff;
  padding: 40px 0;
}
.commentWrapper img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial-Icon{
  font-size: 2em;
  padding: 0 1rem;
  opacity: .5;
}
.testimonial-active{
  opacity: 1;
}
.inactive{
  opacity: 0;
  position: absolute;
}
@media screen and (max-width: 410px) {
  .category {
    height: 10rem !important;
    width: 31%;
    padding-left: 0 !important;
  }

  .outFits {
    justify-content: space-around;
  }
  .category span {
    margin-left: 0 !important;
    font-size: 1rem !important;
  }
  section .mainpageText {
    width: 60%;
    right: 10%;
  }
  .trendinSection {
    display: flex;
    justify-content: center !important;
  }
  .trendinSection > div:nth-child(1) {
    font-size: 1.7em;
    font-weight: 600;
    color: #000;
    padding-bottom: 1rem !important;
  }
  .arrow.left {
    left: 2% !important;
  }
  .arrow.right {
    right: 2% !important;
  }
  .commentWrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 500px;
    margin: 0 40px;
    border-radius: 3px;
    
  }
}
/* "width: 2512px; opacity: 1; transform: translate3d(-1256px, 0px, 0px); transition: transform 500ms ease 0s;"> */
